@import '../../../styles/mixins';
/** 
  below CSS is used for smooth scrolling for I-pad
**/

* {
  -webkit-overflow-scrolling: touch;
}

.page-container {
  float: none;
}

.top-nav {
  width: 100%;
  padding: 10px;
  border-radius: 2px 2px 0 0;
  background-color: $white;
  border-bottom: 1px solid $lightblue;
  margin-top: unset;
}

.label-off {
  height: 30px !important;
  width: 181px !important;

  &.active {
    color: $white !important;
    background: $lightblue !important;
  }

  &.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem $sine-blue;
  }
}

.all__media {
  color: $blue;
  font-family: $font-family-cabin;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  border: 1px solid $lightblue;
  border-radius: 0;
}

.pictures {
  height: 22px;
  width: 161.95px;
  color: $blue;
  font-family: $font-family-cabin;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  border: 1px solid $lightblue;
  border-radius: 0;
}

.videos {
  height: 22px;
  width: 161.95px;
  color: $blue;
  font-family: $font-family-cabin;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  border: 1px solid $lightblue;
  border-radius: 0;
}

/* Add media button for small devices */

.add-media-container {
  height: 22px;
  color: $lightblue;
  font-family: $font-family-cabin;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  float: right;
}

/* DOM display */

.media__input--display {
  display: none;
}

/* Add Media Button */

.btn-add--media {
  background: transparent;
  border: none;
  cursor: pointer;
  color: $lightblue;
}

/* K_12 addition icon modifier */

.icon-addition {
  vertical-align: sub;
  font-size: 24px;
}

.addition {
  color: $lightblue;
  font-family: $font-family-cabin;
  font-size: 24px;
  top: 6px;
}

/* Padding for the media list container */

.container--padding {
  padding: 0px 20px;
}

.subheading {
  padding-top: 20px;
}

/* Edit Media action bar */

.edit {
  color: $white;
  background-color: $lightblue;
}

/* Add media button for Desktop */

.add-media-display {
  display: none;
  height: 40px;
  width: auto;
}

.edit-control {
  font-size: 18px;
  background: transparent;
  border: none;
  color: $white;
}

.edit-padding {
  cursor: pointer;
  padding-left: 24px;
}

.icon-edit {
  font-size: 14px;
}

.no-media-text {
  margin-top: 9px;
  margin-left: 5px;
}

.cancel-delete-container {
  width: inherit;
  padding-top: 5px;
}

.cancel {
  padding-left: 20px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: $white;
}

.remove {
  margin-left: 28px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: $white;
}

.images--container {
  top: 164px;
  bottom: 15px;
  position: fixed;
  width: calc(100% - 100px);
  overflow-y: auto;
  background: $white;
  margin-top: unset
}

.media-container {
  margin-top: 20px;
  width: 242px;
  height: 223px;
  display: inline-block;
  position: relative;
  padding-left: 20px;
}

.img-triangle {
  width: 0;
  height: 0;
  border-top: 54px solid transparent;
  border-bottom: 64px solid transparent;
  border-left: 58px solid $white;
  transition: inherit;
  -webkit-transform: rotate(227deg);
  transform: rotate(227deg);
  margin-left: -4px;
  margin-top: -42px;
  position: absolute;
  display: inline-block;
  top: 2px;
  z-index: 2;
}

.disable-click-event {
  pointer-events: none;
}
/* Container for images */

.image-placeholder {
  width: 221px;
  height: 168px;
  border: 1px solid $row-item;
  cursor: pointer;
  background-color: $grey;
}

/* pictures radio tab on active */

.picture {
  font-family: $font-family-cabin;
  color: $lightblue;
  margin-bottom: 0px;
  font-size: 18px;
  cursor: pointer;
  padding-top: 7px;
}

/* media date */

.date {
  font-family: $font-family-cabin;
  font-size: 14px;
  color: $light-grey;
  padding-top: 0px;
  line-height: 18px;
}

.imgStatus-div {
  position: absolute;
  left: 36px;
  display: inline-block;
  top: 4px;
  z-index: 2;
}

.checkbox-container {
  margin-bottom: 20px;
}

.img-status {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 4px;
}

.icon-error_intervention {
  color: $red;
}

.icon-checkmark {
  color: $sine-blue;
}

.checkbox-div {
  position: absolute;
  left: 211px;
  display: inline-block;
  top: 8px;
  z-index: 1;
}

.checkboxInput {
  display: inline;
}

/* Wrapper element for checkbox, .bs-switch input start*/

[type=checkbox]:checked,
[type=checkbox]:not(:checked) {
  position: absolute;
  opacity: 1;
  pointer-events: visible;
  cursor: pointer;
  margin-left: -22px;
}


@media screen and (min-width: 1366px) {
  .images--container {
    max-width: 1264px;
  }
}

@media screen and (max-width: 768px) {
  .page-container {
    overflow-x: hidden;
  }

  .top-nav {
    width: 100%;
    height: 53px;
    padding-top: 9px;
    padding-left: 3px;
    padding-bottom: 15px;
    border-radius: 2px 2px 0 0;
    background-color: $white;
    border-bottom: none;
    margin-top: 40px;
  }

  .media--toggle {
    width: 100% !important;
  }

  .all__media {
    color: $blue;
    line-height: 16px;
    border: 1px solid $lightblue;
    border-radius: 0;
  }

  .pictures {
    color: $blue;
    line-height: 16px;
    border: 1px solid $lightblue;
    border-radius: 0;
  }

  .date {
    font-size: 12px;
    color: $grey;
    padding-top: 0px;
  }

  .videos {
    color: $blue;
    line-height: 16px;
    border: 1px solid $lightblue;
    border-radius: 0;
  }

  .add-media-container {
    display: none;
  }

  .addition {
    margin-bottom: 10px;
  }

  .container--padding {
    padding: 0px 10px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .no-padding {
    padding: 0px;
  }

  .edit {
    color: $white;
    vertical-align: middle;
  }

  .action-bar {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    height: 39px;
    width: 100% !important;
  }

  .add-media-display {
    display: inline-block;
  }

  .addmedia-font {
    font-size: 18px;
    line-height: 18px;
    font-family: $font-family-cabin;
  }

  .edit-control {
    position: absolute;
    height: 40px;
    top: unset;
    right: 14px; // left: 0px;
    left: unset;
    font-size: 16px;
    display: none;
  }

  .edit-padding {
    cursor: pointer;
    margin: 0px;
  }

  .cancel-delete-container {
    width: inherit;
    padding-top: 2px;
  }

  .cancel {
    cursor: pointer;
    border: none;
    background: transparent;
    color: $white;
  }

  .remove {
    float: right;
    cursor: pointer;
    border: none;
    background: transparent;
    color: $white;
  }

  .images--container {
    top: 150px;
    bottom: 64px;
    width: 100%;
    margin-top: 40px;
  }

  .media-container {
    margin-top: 20px;
    width: 160px;
    height: 160px;
    display: inline-block;
    position: relative;
    padding-left: 10px;
  }

  .image-placeholder {
    width: 140px;
    height: 120px;
    border: 1px solid $row-item;
    background-color: $grey;
  }

  .imgStatus-div {
    left: 24px;
  }

  .checkbox-div {
    position: absolute;
    left: 119px;
    display: inline-block;
    top: 8px;
    z-index: 1;
  }
}
