$white: #ffffff;
$blue: #022C45;
$sine-blue: #026ECB;
$red: #dc143c;
$light-grey: #979797;
$dark-grey: #5B5B5B;
$grey: #9B9B9B;
$lightest-grey: #D6D6D6;
$light-blue:#EEF3F7;
$black-light-shade: #b2b2b2;
$black-lighter-shade: #dbdbdb;
$black-lightest-shade: #e0e0e0;
$black:#000000;
$dark-green:#09866D;
$sign-green:#20c997;
$sign-green-todo:#0BAD8C;
$highlighter-green: #0bad8c;
$green:#228b39;
$yellow: #ddba1e;
$header-title-color: #EEF3F7;
$header-icon-color: #F9F9F9;
$lightblue:#004168;
$checkbox-color:#494949;
$search-placeholder-color:#E0E9EF;
$dark-blue: #003156;
$carbon-black:#333333;
$avatar-blue: #4A7C9C;
$prussianBlue: #04264f;
$tuna: #495057;
$row-item: #d2d2d2;
$icon-color: #257194;
$grayish-blue: #e9ecef;
$grayish-black: #cacaca;
$carbon-grey: #d7d7d7;
$side-menu-color: #fbfdfd;
$eclipse: #3F3F3F;
$link-water: #e0e9ef;
$endeavour: #c6d8e4;
$bondi-blue: #008CBA;
$tranquil: #D4F4ED;
$dodger-blue:#2196f3;
$pink-swan: #b7b6b6;
$gainsboro: #d9d9d9;
$light-sea-green: #1abc9c;
$light-yellow: #fdba04;
$peach: #ed687c;
$matterhorn: #595757;
$white-smoke: #f3f3f3;
$white-smoke-invision: #F0F0F0;
$white-grey: #CCCCCC;
$ice-blue: #1ceae0;
$checkbox-blue: #135bcf;
$gray-black: #d6d6d6;
// Functional Colors
$primary--color: $blue;
$secondary--color: $white;
$elf-green: #09866D;
$disabled-grey: #E0E9EF;
$disabled-text-grey: #666666;